<h2>Github Omniauth App</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<h3>The purpose of this app is to demonstrate implementation of Githubs omniauth</h3>
<%= link_to 'Log in with github', 'https://github.com/login/oauth/authorize?client_id=47ec0381c0a83645833d&scope=repo' %>
